<!DOCTYPE html>
<html ng-app="hangryApp">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Hangry - <%= location %></title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">

    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/choice.js"></script>
    <script src="js/choice_collection.js"></script>
    <script src="js/tag.js"></script>
    <script src="js/tag_collection.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-controller="PickerController">

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12 center">
                <div class="input-wrapper {{(query_state == 'selected') ? 'red' : ''}} {{(query_state == 'not selected') ? 'green' : ''}}">
                    <input autofocus type="text" placeholder="I'm hangry for..." ng-model="query" ng-enter="addTag()">
                    <span class="glyphicon glyphicon-remove-circle" ng-click="clearSearch()"
                            ng-style="{visibility: query ? 'visible' : 'hidden'}"></span>
                </div>
                <button class="btn btn-warning" ng-click="tagCollection.clearSelected()">Start Over</button>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <span ng-repeat="choice in choiceCollection.choices | orderBy:'score':true | limitTo:6">
                    <span class="item label label-success" ng-style="choice.style">
                        {{choice.name}}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="tags container">
    <div class="col-md-12">
        <span ng-repeat="tag in tagCollection.tags | filter:{selected:true}">
            <span class="item action label label-primary {{tag.match ? 'match' : ''}}" ng-click="tagCollection.toggle(tag)">
                <span class="glyphicon {{tag.match ? 'glyphicon-remove' : 'glyphicon-ok'}}"></span>
                {{tag.name}}
            </span>
        </span>
        <span ng-repeat="tag in tagCollection.tags | filter:{selected:false} |filter:query" ng-model="theTag">
            <span class="item action label label-info" ng-click="tagCollection.toggle(tag)">
                <span class="glyphicon glyphicon-plus"></span>
                {{tag.name}}
            </span>
        </span>
    </div>
</div>


</body>
</html>